<div id="content">
    <nav class="navbar navbar-light" id="navbar">
    <div class="container-fluid">
      <h1 id="header">Restaurant Details</h1>
      <form method="get" action="/api/logout">
        <div class="logout-btn">
            <button class="btn btn-danger">Logout</button>
        </div>
      </form>
    </div>
  </nav>
  <br>
<div class="table-responsive allData">
<table class="table table-striped main-table">
    
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Restaurant Id</th>
            <th>Cuisine</th>
            <th>Building</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>Borough</th>
            <th>Grades</th>


        </tr>
        </thead>
        <tbody>
        {{#each data}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}} </td>
            <td>{{restaurant_id}} </td>
            <td>{{cuisine}}</td>
            <td>{{building}} </td>
            <td>{{street}} </td>
            <td>{{zipcode}} </td>
            <td>{{borough}} </td>
            <td>
                {{!-- <ul style="list-style-type:none; margin-left: -40px;"> --}}
                {{#each grades as |data|}}
                    Grade:
                    {{#each data}}
                        {{grade}} 
                    {{/each}}
                    , Score:
                    {{#each data}}
                        {{score}} 
                    {{/each}}
                    , Date:
                    {{#each data}}
                        {{date}} 
                    {{/each}}
                <br>
                {{/each}}
                {{!-- </ul> --}}
                {{!-- {{grades}} --}}
            </td>
        </tr>
        {{/each}}
        </tbody>
</table>
</div>